.editorWrapper {
    position: relative;
}

.contentEditable {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px 12px;
    outline: none;
    width: 100%;
}

.placeholder {
    position: absolute;
    top: 36px;
    padding: 4px 12px;
}

.editor-bold {
    color: blue;
}

.editor-h1 {
    background-color: brown;
}